.button-container{
    text-align: center;
    margin-top: 50px;
}

.transition-button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(91, 132, 208);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    transform: 0.5s ease;
}

.transition-button:hover{
    background-color: rgb(174, 94, 177);
    transform: scale(1.2);
}

.box{
    width: 100px;
    height: 100px;
    background-color: rgb(26, 236, 44);
    opacity: 1;
    transition: width 1s, height 1s, opacity 0.5s ease-in-out;
}

.box:hover{
    width: 200px;
    height: 200px;
    opacity: 0.5;
}